<%= form_for([@project, @project.comments.new], remote: true ) do |f| %>
    <div class="form-group row align-items-center">
      <div class="col-sm-5">
        <%= f.text_area :body , class: 'form-control mb-2'%>
      </div>
      <div class="col-sm-1">
        <%= f.submit "Comment", class: 'btn btn-outline-primary btn-rounded' %>
      </div>
    </div>
<% end %>