<div id="comment_panel">
    <div class="card">
        <div class="card-body">
            <% @project.comments.each do |c| %>
                <p><%= c.body %></p>
                <p><%= c.user_id%></p>
            <% end %>
        </div>
    </div>
</div>